body {
  font-family: 'Manrope', sans-serif;
}
.container{
  width: 1400px;
  margin: 0 auto;
  border: 2px solid red;

}

.btn{
  display: block;
  width: 255px;
  height: 67px;
  border: 1px solid #AD1818;
  background-color: #AD1818;
  color: #FFF;;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 125px;
}
.btn:hover {
  background-color: #FFF;
  color: #AD1818;
}

h1, h2, p{
  font-weight: 400;

}
h1 {
  font-size: 60px;
  line-height: 60px;
  margin-top: 128px;
  margin-left: 125px ;
  margin-right: 194px;
  margin-bottom: 30px;
}
h2{
  font-size: 18px;
  margin-left: 125px;
  margin-bottom: 30px;
}
h3 {
  font-size: 45px;
  margin-left: 128px;
  margin-bottom: 50px;
}
p{
  font-size: 20px;
  line-height: normal;
  padding-top: 379px;
  padding-left: 40px;
  padding-right: 680px;
  padding-bottom: 40px;
}
.fotofon {
 width: 1150px;
height: 500px;
background-image: url('../resources/fotofon_1.png');
background-repeat: no-repeat;
color: #FFF;
margin-left: 125px;
margin-bottom: 150px;
}
.fotofon_text{
  width: 430px;
  height: 81px;
}
